[submodule "lbr_fri_ros2_stack"]
	path = lbr_fri_ros2_stack
	url = https://github.com/KCL-BMEIS/lbr_fri_ros2_stack.git
	branch = foxy
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
	branch = main
